
{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          signup PAge
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <h2>{{msg}}</h2>
            <form action="{% url 'signup'%}" method="post">
                {% csrf_token %}
                
              <div>
                <input type="text" placeholder="UserName" name="uname" />
              </div>
              <div>
                <input type="email" placeholder="Email" name="email" />
              </div>
              <div>
                <input type="password" placeholder="Password" name="password" required />
              </div>
              <div>
                <input type="password" placeholder="Confirm Password" name="cpassword" required />
              </div>
              <div class="btn_box">
                <button type="submit">
                  SIGNUP
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

{% endblock %}